*,
::after,
::before {
  box-sizing: inherit;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.95rem;
  color: #000;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.header_info {
  background-color: #0066b1;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.header_info p {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header_contact,
.header_social {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.header_contact a {
  text-decoration: none;
}

.header_nav {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header_nav ul a {
  text-decoration: none;
}
.header_nav ul li {
  list-style: none;
  font-size: 20px;
  color: #7a7a7a;
  font-weight: 600;
  padding: 10px;
  border-bottom: 3px solid #fff;
  transition: border-bottom ease 0.4s;
}

.header_nav ul {
  display: flex;
  gap: 10px;
}

.header_nav li:hover,
.header_nav li.active_link {
  color: #7bb41e;
  border-bottom: 3px solid #7bb41e;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #0066b1;
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
}

.header_menu_btn {
  display: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.main {
  position: relative;
  flex: 1;
}

.whatsapp {
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.header_overlay {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow-y: auto;
}

.modal_link {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: auto;
}

.modal_img {
  width: 100%;
  height: auto;
}

.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
}

.modal_content {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 750px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal.is-active {
  display: flex;
}

.login_btn {
  text-decoration: none;
}

.login_btn button {
  background: #fff;
  border: none;
  color: #0066b1;
  font-weight: 700;
  border-radius: 999px;
  height: 30px;
  padding: 5px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}

.login_btn img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .modal {
    display: none !important;
  }
  .header_nav ul {
    position: absolute;
    flex-wrap: wrap;
    top: 99%;
    background: #fff;
    height: 215px;
    gap: 0;
    width: 100%;
    z-index: 2;
  }

  .header_info.show + .header_overlay {
    display: block;
  }

  #menu:not(.show),
  #menu_info:not(.show) {
    display: none;
  }
  .header_info {
    position: absolute;
    top: calc(100% + 213px);
    z-index: 1;
  }
  .header_menu_btn {
    display: flex;
  }
  .header_menu_btn svg:last-child {
    display: none;
  }
  .header_info.show ~ .header_nav .header_menu_btn svg:last-child {
    display: block;
  }
  .header_info.show ~ .header_nav .header_menu_btn svg:first-child {
    display: none;
  }
  .header {
    height: 71px;
  }
  .header_nav {
    padding: 0;
  }
  .header_nav ul a,
  .header_nav ul li {
    width: 100%;
  }
}
