.image-with-description {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
}
.banner-home {
  background-image: url(/imagenes/1.\ Fondo\ de\ Color\ y\ Tramas\ 1.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0 5rem 0;
  color: #fff;
}

.image-with-description > div {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  max-width: 50%;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.image-with-description h2 {
  font-size: 2rem;
  text-align: center;
  line-height: 125%;
}

.section-blue span {
  font-size: 35px;
}

.container-img {
  position: relative;
}

.banner-blue {
  background-image: url(./imagenes/4.\ Fondo\ de\ Color\ Azul.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.banner-blue span {
  font-size: 46px;
}
.banner-blue img {
  position: relative;
  max-width: 400px;
  height: 400px;
}
.banner-blue .container-img::before {
  content: "";
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #ffffff77;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
}

.banner-blue button {
  background-color: #6a3296 !important;
}

.banner-blue h2 {
  font-size: 1.5rem;
  line-height: 135%;
  color: #352abe;
  max-width: 385px;
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

.banner-blue p {
  color: #fff;
}

.titulo span {
  font-size: 55px;
}

.image-with-description p {
  font-size: 1.2rem;
  width: 100%;
  max-width: 385px;
  margin: 0 auto 5px;
  font-weight: lighter;
}

.testimony p,
.testimony > div > div {
  position: relative;
  z-index: 1;
}

.testimony img {
  max-width: 110px !important;
  margin: 0 !important;
}

.testimony .buttons-group {
  justify-content: flex-start;
}

.buttons-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-with-description a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.image-with-description button {
  width: 100%;
  border: none;
  padding: 10px 0;
  max-width: 380px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  align-items: center;
}

.buttons-group a:first-child button {
  background-color: #1e6325;
}

.rewards_section {
  margin-top: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.rewards_section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #6a3296;
  padding: 0 0 20px 0;
}

.rewards_section p {
  margin: 0 auto;
  font-size: 1rem;
}

.partner_section p {
  max-width: 700px;
}

.rewards_section hr {
  background-color: black;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem auto;
  max-width: 700px;
}
.tech_crecimiento img {
  width: 100%;
  max-width: 700px;
  padding: 30px 0;
}

.images-links img {
  width: 100%;
  max-width: 165px;
  transform: scale(1.1);
  position: relative;
  z-index: -1;
}

.partner_section .images-links img {
  transform: none;
}

.images-links a {
  text-decoration: none;
  display: flex;
  width: 100%;
  max-width: 95px;
  padding: 10px 0;
}

.images-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.bg-testimonio {
  background-image: url("./imagenes/Fondo\ Testimonio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.testimony-section {
  padding: 3rem 0;
}
.testimony-section img {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.testimony h2 {
  color: #1e6325;
  border-right: 2px solid #1e6325;
  border-bottom: 2px solid #1e6325;
  width: fit-content;
  padding-right: 10px;
  font-weight: 900;
}

.testimony > p {
  background-color: #e7e7e7;
  border-left: 7px solid #00d5fb;
  font-weight: 500;
  font-size: 15px;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  margin: 1rem 0;
  max-width: 450px;
}

.testimony b {
  color: #1e6325;
}

.stats_section {
  display: flex;
  gap: 2rem 3rem;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.stats {
  border-radius: 15px;
  border: 2px solid #00d5fb;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 340px;
  padding: 0rem 1rem 1.5rem;
  background-color: #f2f2f0;
}

.stats span {
  color: #4c4084;
  font-size: 2.4rem;
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
  margin-right: 5px;
}

.stats h3 {
  color: #1e6325;
  font-size: 1.6rem;
  line-height: 30%;
}

.stats_section h2 {
  color: #1e6325;
  font-size: 2.5rem;
  font-weight: 800;
  width: 100%;
}

.icons-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1300px;
  margin: 0 auto;
}

.icons-boxes h2 {
  font-size: 1.9rem;
}

.icons-boxes h2 + p {
  font-size: 1.2rem;
}

.icons-boxes h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.icons-boxes > div {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  color: #505050;
  transition: transform ease 0.4s;
}

.icons-boxes > div:hover {
  transform: translateY(-10px);
}

.icons-boxes > div:nth-child(1) {
  color: #1e6325;
}

.icons-boxes > div:nth-child(3) {
  color: #6a3296;
}

.how-work-section {
  padding: 2rem 0;
  background-image: url("./imagenes/9.1Ãcono\ Bolsa\ de\ Dinero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons-boxes img {
  width: 100%;
  max-width: 200px;
}

.how-work-section > h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: #1e6325;
}

.list-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}

.list-description {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 550px;
  overflow: hidden;
  width: 95%;
}

.list-header {
  background-color: #255cd0;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.list-body {
  padding: 1rem 2rem;
}

.list-title {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-title span {
  font-size: 2rem;
  font-weight: 700;
}

.list-body ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.list-body li {
  font-size: 1.1rem;
  padding: 1rem 0;
  border-bottom: 2px solid #f2f2f0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-body li:last-child {
  border-bottom: 2px solid transparent;
}

.list-body a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.list-body button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: #255cd0;
  color: #fff;
  width: 100%;
  border-radius: 999px;
  height: 50px;
  font-weight: 600;
  max-width: 350px;
}

.list-footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
  color: #7a7a7a;
}

.image-mobile {
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
}

.precios {
  display: flex;
  background-color: #91d258;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 1rem;
  overflow: hidden;
  position: relative;
}

.precios h2 {
  margin-right: 180px;
  font-size: 3rem;
  color: #1e6325;
  width: 100%;
  height: auto;
}

.precios img {
  height: auto;
  position: relative;
  width: 100%;
}

.img_prejuridico img {
  max-width: 370px;
  left: 1rem;
  z-index: 1;
}

.img_juridico img {
  max-width: 320px;
  top: 1rem;
  box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.25);
}

.precios .stars {
  display: flex;
  gap: 5px;
  align-items: center;
}

.precios .stars svg {
  fill: #fff;
  width: 20px;
}
.precios_title {
  position: relative;
}
.img_bg {
  opacity: 0.2;
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 140% !important;
  width: auto !important;
}

.clients {
  text-align: center;
  padding: 2rem 0;
}

.clients h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #1e6325;
  margin-bottom: 2rem;
}

.clients img {
  max-height: 150px;
  max-width: 200px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.clients .swiper-slide {
  height: auto;
}

.clients p {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0 1rem;
}

.form_section {
  background-color: #e7e7e7;
  padding: 2rem 1rem;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.form_section h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1e6325;
  font-style: italic;
  border-bottom: 2px solid #00d5fb;
  border-right: 2px solid #00d5fb;
  display: inline-block;
  padding-right: 20px;
}

.form {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.field label {
  font-size: 1.1rem;
  color: #1e6325;
  font-weight: 600;
}

.field input {
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  padding: 5px 20px;
  outline: none !important;
  min-width: 300px;
}

.submit-button button {
  background-color: #00d5fb;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: all ease 0.4s;
}

.submit-button button:disabled {
  background-color: #00b2d1;
  opacity: 0.5;
}

.arrows {
  display: flex;
}

.arrows svg {
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.arrows svg:nth-child(2) {
  margin: 0 -6px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }
  .arrows {
    transform: rotate(90deg);
  }
  .field input {
    min-width: auto;
  }
  .submit-button button,
  .submit-button {
    width: 100%;
  }
  .clients p {
    font-size: 1rem;
  }
  .titulo span {
    font-size: 40px;
  }
  .image-with-description button {
    max-width: 100%;
  }
  .image-with-description h2 {
    font-size: 1.5rem;
  }
  .stats_section h2,
  .testimony h2,
  .how-work-section > h2,
  .rewards_section h2,
  .clients h2,
  .form_section h2 {
    font-size: 1.9rem;
  }
  .icons-boxes h3 {
    font-size: 1.5rem;
  }
  .image-with-description {
    flex-direction: column;
  }
  .precios {
    flex-direction: column;
    text-align: center;
  }
  .img_prejuridico img,
  .img_juridico img {
    left: 0;
    top: 0;
  }
  .img_bg {
    height: auto !important;
    top: 10%;
  }
  .img_prejuridico img {
    margin: 1rem 0;
  }

  .precios .stars {
    display: none;
  }

  .list-body {
    padding: 1rem;
  }
  .list-body ul {
    margin: 0.5rem 0;
  }
  .list-title,
  .list-body li {
    font-size: 1rem;
  }
  .list-title span {
    font-size: 1.5rem;
  }
  .image-with-description > div.container-img {
    order: -1;
    margin-bottom: 1rem;
  }
  .image-with-description > div {
    position: relative;
    max-width: 100%;
    padding: 0 1rem 1rem;
  }
  .stats_section {
    flex-direction: column;
    gap: 1rem;
  }
  .stats h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .icons-boxes {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
  }
}
