.image-with-description {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
}

.image-with-description > div {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  max-width: 50%;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.image-with-description > div.container-img {
  padding: 0;
}

.image-with-description h2 {
  font-size: 2rem;
}

.image-with-description p {
  font-size: 1.2rem;
}

.testimony p,
.testimony > div > div {
  position: relative;
  z-index: 1;
}

.testimony img {
  width: 100px;
  transform: scale(1.5);
}

.buttons-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-with-description a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.image-with-description button {
  width: 100%;
  border: none;
  height: 50px;
  max-width: 400px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.buttons-group a:first-child button {
  background-color: #255cd0;
}

.rewards_section {
  margin-top: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.rewards_section h2 {
  font-size: 2rem;
}

.rewards_section p {
  margin: 0 auto;
  font-size: 1.2rem;
}

.partner_section p {
  max-width: 700px;
}

.images-links img {
  width: 100%;
  max-width: 165px;
  transform: scale(1.1);
  position: relative;
  z-index: -1;
}

.partner_section .images-links img {
  transform: none;
}

.images-links a {
  text-decoration: none;
  display: flex;
}

.images-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stats_section {
  background-color: #f2f2f0;
  display: flex;
  gap: 3rem;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.stats {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.stats h2 {
  color: #4a8e39;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
}

.icons-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1300px;
  margin: 0 auto;
}

.icons-boxes h2 {
  font-size: 1.9rem;
}

.icons-boxes h2 + p {
  font-size: 1.2rem;
}

.icons-boxes h3 {
  text-align: center;
}

.icons-boxes > div {
  padding: 1rem;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.icons-boxes svg {
  width: 70px;
  height: 70px;
  fill: #c8d5dc;
}

.how-work-section > h2 {
  text-align: center;
  font-size: 2rem;
}

.list-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}

.list-description {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 550px;
  overflow: hidden;
  width: 95%;
}

.list-header {
  background-color: #255cd0;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.list-body {
  padding: 1rem 2rem;
}

.list-title {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-title span {
  font-size: 2rem;
  font-weight: 700;
}

.list-body ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.list-body li {
  font-size: 1.1rem;
  padding: 1rem 0;
  border-bottom: 2px solid #f2f2f0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-body li:last-child {
  border-bottom: 2px solid transparent;
}

.list-body a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.list-body button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: #255cd0;
  color: #fff;
  width: 100%;
  border-radius: 999px;
  height: 50px;
  font-weight: 600;
  max-width: 350px;
}

.list-footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
  color: #7a7a7a;
}

@media (max-width: 768px) {
  .image-with-description {
    flex-direction: column;
  }
  .list-body {
    padding: 1rem;
  }
  .list-body ul {
    margin: 0.5rem 0;
  }
  .list-title,
  .list-body li {
    font-size: 1rem;
  }
  .list-title span {
    font-size: 1.5rem;
  }
  .image-with-description > div.container-img {
    order: -1;
    margin-bottom: 1rem;
  }
  .image-with-description > div {
    position: relative;
    max-width: 100%;
    padding: 0 1rem 1rem;
  }
  .stats_section {
    flex-direction: column;
    gap: 1rem;
  }
  .stats h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .icons-boxes {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
  }
  .icons-boxes > div {
    height: 180px;
  }
}
