.content h3 {
  font-size: 2rem;
  color: #1e6325;
  font-weight: 800;
}

.content {
  font-size: 18px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 1rem;
}

.nosotros_section {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.nosotros_section::before {
  content: "Nosotros";
  position: absolute;
  font-size: 12rem;
  font-weight: 700;
  color: #c99eeb13;
  top: -60px;
}

.prejuridico_juridico {
  background-color: #91d258;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}

.prejuridico_juridico > img {
  position: absolute;
  width: 100%;
  max-width: 500px;
  right: 10%;
  top: -1rem;
  opacity: 0.1;
}

.prejuridico_juridico h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #6a3296;
  margin-bottom: 10px;
  position: relative;
}

.prejuridico_juridico p {
  color: #1e6325;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}
.prejuridico_juridico ul {
  color: #ffff;
  list-style: none;
  margin: 0 auto;
  max-width: 700px;
  margin-top: 30px;
  position: relative;
}

.prejuridico_juridico li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
  font-size: 18px;
}

.img-chek {
  width: 100%;
  max-width: 26px;
  gap: 70px;
}

.content_img,
.content {
  width: 50%;
}
.content p {
  font-size: 22px;
}
.content_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 1rem;
  width: 100%;
  max-width: 450px;
}

.nosotros_section h1 {
  text-align: center;
  width: 100%;
  font-size: 4rem;
  position: relative;
  margin-bottom: 2rem;
  font-weight: 800;
  color: #6a3296;
}

.b-green {
  color: #91d258;
}
.b-purple {
  color: #6a3296;
}
.b-dark_green {
  color: #1e6325;
}
.b-blue {
  color: #00d5fb;
}

.list {
  padding-left: 20px;
}

.stats_section {
  background-color: #f2f2f0;
  display: flex;
  gap: 3rem;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.stats {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.stats h2 {
  color: #4a8e39;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
}

.rewards_section {
  padding: 2rem 1rem 1rem;
  text-align: center;
}

.rewards_section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.rewards_section p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.images-links img {
  width: 100%;
  max-width: 150px;
}

.images-links a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .nosotros_section {
    flex-direction: column;
    padding: 1rem;
  }
  .nosotros_section h1 {
    margin-bottom: 0;
    font-size: 3rem;
  }
  .content_img,
  .content {
    width: 100%;
  }
  .nosotros_section::before {
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5.5rem;
  }
  .prejuridico_juridico {
    padding: 3rem 1rem;
  }
  .prejuridico_juridico h1 {
    font-size: 1.9rem;
  }
  .prejuridico_juridico > img {
    right: -50px;
  }
}
